@import url(/scss/_nullstyle.scss);

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Open+Sans:wght@600&family=Pacifico&display=swap');
header {
  padding: 0px 364px;
  width: 1170px;
  height: 750px;
  background-image: url(/images/banner.jpg);
}

body {
  width: 1900px;
}
.title {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  .images {
    width: 189px;
    height: 24px;
    margin-top: 40px;
  }
  .properties {
    color: white;
    display: flex;
    width: 600px;
    font-size: 13px;
    justify-content: space-between;
    margin-top: 40px;
  }
  :first-child {
    padding: 0px 60px 0px 0px;
  }
  :nth-child(2) {
    padding: 0px 60px 0px 0px;
  }
  :nth-child(3) {
    padding: 0px 60px 0px 0px;
  }
  :nth-child(4) {
    padding: 0px 60px 0px 0px;
  }
  :nth-child(5) {
    padding: 0px 0px 0px 0px;
  }
}

.features {
  :first-child {
    width: 861px;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-family: Open Sans;

    margin: 135px 0px 0px 0px;

    padding: 0 15px 0 160px;
  }

  .foreword {
    width: 912px;
    height: 55px;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    padding: 0px 0px 0 130px;

    color: white;
    margin-top: 30px;
  }
}
.button {
  font-size: 16px;
  height: 40px;
  width: 200px;
  color: white;
  background-color: red;
  margin-left: 485px;
  display: inline-block;
  text-align: center;
  margin-top: 40px;
  padding: 23px 0 0 0;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  transition-property: background-color, box-shadow;
}
.button:hover {
  background-color: rgb(0, 255, 98);
  transition-duration: 1s, 2s;
  box-shadow: 0 5px 0px rgb(1, 108, 42);
}

.works {
  color: black;
  display: flex;
  justify-content: center;
  width: 1170px;
  padding: 120px 0 0 364px;
  text-align: center;
}
.works2 {
  display: flex;
  color: black;
  justify-content: center;
  width: 1170px;
  padding: 76px 0 130px 364px;
  text-align: center;
}

.head {
  font-size: 11px;
  width: 300px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0px 0 30px 0;
}

.subtitle {
  width: 300px;

  .note {
    width: 300px;
    margin: 0px 0px 25px 0px;
  }
}
.subimg {
  margin-bottom: 35px;
}
.work_images_first {
  max-width: 1900px;
  display: flex;
  display: block;

  :first-child {
    max-width: 470px;
  }
  :nth-child(even) {
    max-width: 470px;
  }
  :nth-child(odd) {
    max-width: 470px;
  }
}
.work_images_second {
  max-width: 1900px;
  display: flex;
  display: block;
  margin-bottom: 100px;

  :first-child {
    max-width: 470px;
  }
  :nth-child(even) {
    max-width: 470px;
  }
  :nth-child(odd) {
    max-width: 470px;
  }
}
.team {
  width: 1900px;
  display: flex;
  justify-content: center;

  .paragraph1 {
    max-width: 270px;
    padding-right: 30px;

    :nth-child(2) {
      font-size: 22px;
      text-transform: uppercase;
    }
    :nth-child(3) {
      color: red;
      font-size: 15px;
    }
    :last-child {
      font-size: 15px;
    }
  }
}
.paragraph2 {
  max-width: 270px;
  padding-right: 30px;

  :nth-child(2) {
    font-size: 22px;
    text-transform: uppercase;
  }
  :nth-child(3) {
    color: red;
    font-size: 15px;
  }
  :last-child {
    font-size: 15px;
  }
}
.paragraph3 {
  max-width: 270px;
  padding-right: 30px;
  :nth-child(2) {
    font-size: 22px;
    text-transform: uppercase;
  }
  :nth-child(3) {
    color: red;
    font-size: 15px;
  }
  :last-child {
    font-size: 15px;
  }
}
.paragraph4 {
  max-width: 270px;

  :nth-child(2) {
    font-size: 22px;
    text-transform: uppercase;
  }
  :nth-child(3) {
    color: red;
    font-size: 15px;
  }
  :last-child {
    font-size: 15px;
    padding-bottom: 170px;
  }
}

.testimonials {
  display: flex;
  padding-bottom: 100px;
  :nth-child(2) {
    color: white;
    padding-left: 100px;
    padding-top: 120px;
    margin: 0px;
    font-size: 40px;
    background-image: url(/images/Rectangle\ 4\ copy.png);
    width: 950px;
  }
}
.testimonials_footers {
  text-align: center;
  font-family: ralawey;
  :first-child {
    font-size: 40px;

    font-weight: 300;
  }
  :nth-child(2) {
    font-family: ralawey;
    font-size: 20px;
    font-weight: bold;
  }
  .testimonials_button {
    font-size: 16px;
    height: 40px;
    width: 200px;
    color: white;
    background-color: red;
    display: inline-block;
    text-align: center;
    margin-top: 40px;
    padding: 23px 0 0 0;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
  }
}
.footer {
  height: 340px;
  background-image: url(/images/banner.jpg);
}
.footer__logo {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  animation-name: white-circle;
  animation-duration: 2s;
  display: inline-block;
  animation-fill-mode: forwards;
}

@keyframes white-circle {
  0% {
    background-color: #fff;
    margin-left: 0px;
  }
  100% {
    background-color: #01ff9d;
    margin-left: 90%;
  }
}
